footer {
    background-color: $backgroundColor;

    h4 {
        margin: 0;
        color: $whiteShade;
        font-size: 2.4rem;
        margin-bottom: 10px;
    }

    p {
        color: $whiteShade;
        text-align: left;
        padding: 0;
        margin-bottom: 10px;
    }

    .footerNav {
        display: flex;
        padding: 100px 0;

        .emailForm {
            width: calc(50% - 50px);
            margin-right: 50px;
        }

        .footerNavLinks {
            width: 50%;
        }
    }
}

.contact p {
    margin: 0;
    line-height: 3.1rem;
}

.footerNavLinks {
    display: flex;
    flex-direction: row;

    div {
        width: calc(100% / 3);
    }

    li {
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        line-height: 2.9rem;
    }

    .recentPosts li {
        text-transform: none;
    }
}

form {
    display: flex;

    input {
        border: none;
        border-radius: 0;
        margin: 0;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.8rem;
    }

    input[type="email"] {
        padding-left: 20px;
        width: 100%;
    }

    input[type="submit"] {
        background-color: $accentColor;
        text-transform: uppercase;
        @include poppinsSize(1.8rem);
        padding: 10px 30px;
    }
}

.copyright {
    background-color: #094154;
    padding: 5px 0;
    
    p {
        padding: 0;
        color: $whiteShade;
        text-transform: none;
        text-align: center;
    }
}