header {
    background-image: url("../summit-assets/asset-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 50px 0;
    color: $whiteShade;

    .wrapper {
        height: 100%;
        position: relative;
    }
}


header .topNavBar {
    display: flex;
    justify-content: space-between;

    .logo {
        @include poppinsSize(4rem);
        color: $whiteShade;
    }

    ul {
        display: flex;
        flex-direction: row;

        li {
            padding: 0 20px;
            line-height: 2.9rem;
        }

        li:last-child {
            padding-right: 0;
        }
    }
}

header .titleCard {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        margin: 0;
        font-size: 3.2rem;
        line-height: 6rem;

        span {
            display: inline-block;
            font-size: 10rem;
        }
    }
}

header .socialLinks {
    position: absolute;
    bottom: 0;
    right: 0;

    li {
        padding: 10px 0;
    }

    li:last-child {
        padding-bottom: 0;
    }
    
    i {
        color: $backgroundColor;
    }
}