.iconNav {
    background-color: $backgroundColor;
    padding: 50px 0;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    i {
        font-size: 5rem;
    }

    a {
        font-size: 2rem;
        padding-top: 10px;
    }
}