.imgGallery {
    padding: 50px 0;
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        li {
            flex-basis: calc(33% - 20px);
            margin: 0 10px;
        }
    }

    li:first-child {
        margin-left: 0;
    }

    li:last-child {
        margin-right: 0;
    }

    .smallerImgGallery {
        display: none;
    }
    
}

