// normalize font size for styling
html {
    @include poppinsSize(62.5%);
}

h2,
h3 {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

p {
    margin: 0;
    @include notoSansSize(1.8rem);
    padding-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $whiteShade;
    font-size: 1.8rem;
}

img {
    max-width: 100%;
    display: block;
}

button {
    display: block;
    border: none;
    background-color: $accentColor;
    text-transform: uppercase;
    @include poppinsSize(1.8rem);
    padding: 5px 20px;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    border: 2px solid red;
}