// normalize font size for styling
html {
    @include poppinsSize(62.5%);
}

p {
    margin: 0;
    @include notoSansSize(1.8rem);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $whiteShade;
    font-size: 1.8rem;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    border: 2px solid red;
}