@import './partials/setup';
@import './partials/variables';
@import './partials/mixins';
@import './partials/normalize';


@import './partials/header';
@import './partials/about';
@import './partials/gallery';
@import './partials/iconNav';